
h1 {
  color: #6494AA;
  font-weight: 600;
}

h2 {
  color: #CC5A71;
  font-weight: 500;
}

body {
  color: #292F36;
  font-family: "Palatino";
  font-weight: 400;
  background-color: #F9F7F0;
  padding: 0px;
  margin: 10px;
}

#links ul {
  color: #6494AA;
  font-family: "Palatino";
  font-weight: 400;
}

a:hover {
  color: #292F36;
}

a:visited {
  color: #CC5A71;
}

#hero{
  border: solid #CC5A71 2px;
  width:98vw;
  height:30vh;
  overflow:hidden;
  margin:10px;
  padding: 10px;
}

#heroimage{
  width: 100vw;
  position: relative;
  bottom: 337px;
}

#hero h1 {
  color: #6494AA;
  font-family: "Palatino";
  font-weight: 500;
  font-size: 60px;
  z-index: 1;
  position: relative;
  margin-top: 8px;
}

#hero p {
  color: #6494AA;
  font-family: "Palatino";
  font-style: italic;
  font-weight: 800;
  font-size: 20px;
  z-index: 1;
  position: relative;
}
