#content{
  display: flex;
  justify-content: center;
}

#hero{
  width:100vw;
  height:30vh;
  overflow:hidden;
  padding:0px;
  margin: auto;
}

#heroimage{
  width: 100vw;
  height: 500px;
  position: relative;
  bottom: 310px;
}

#hero h1 {
  color: #F9F7F0;
  font-weight: 500;
  font-size: 60px;
  z-index: 1;
  position: relative;
  margin-top: 0px;
  margin-left: 0px;
  background-color: #6494AA;
  overflow: hidden;
}

h1 {
  color: #6494AA;
  font-weight: 600;
}

h2 {
  color: #CC5A71;
  font-weight: 500;
}

body {
  color: #292F36;
  font-family: "Palatino";
  font-weight: 400;
  background-color: #F9F7F0;
  padding: 0px;
}

#name{
  padding-left: 30px;
}

#name h1{
  color: #CC5A71;
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 0px;
}

#name p{
  margin-top: -25px;
  padding-top: 0px;
  color: #CC5A71;
  font-size: 15px;
}

#about{
  padding-left: 50px;
}

#goals{
  padding-left: 50px;
}

#links{
  padding-left: 50px;
}

#links ul {
  color: #6494AA;
  font-weight: 400;
}

a:link {
  color: #CC5A71;
}

a:visited {
  color: #CC5A71;
}

a:hover{
    color: #6494AA;
}

#pics{
  border-style: solid;
  border-color: #CC5A71;
  border-width: 3px;
  float:right;
  margin-right: 50px;
  margin-left: 100px;
  margin-bottom: 20px;
  margin-top: 35px;
  padding: 10px;
}

#newpic{
  background-color: #6494AA;
  border-color: #6494AA;
  font-family: "Palatino";
  color: #F9F7F0;
  margin-bottom: 1px;
  padding: 0px;
  width: 350px;
  height: auto;
  overflow: hidden;
}

#picbutton{
  background-color: #6494AA;
  border-color: #6494AA;
  font-family: "Palatino";
  color: #F9F7F0;
  /* position: relative; */
}


@media screen and (min-width:700px){

}

@media screen and (max-width:1000px){
  #content{
    display:flex;
    flex-direction:column;
    justify-content: center;
    float:left;
    margin-top:-25%;
  }

  #heroimage{
    height:500px;
    margin-bottom: 0px;
  }

  #pics{
    justify-content: center;
  }

  #text{
    justify-content: center;
  }




}
