/* general styling */
body{
  background-color: #000000;
}

h1{
  font-family: 'Oswald';
  color: #FFFFFF;
  font-size: 7vw;
  margin-top:0px;
  margin-left:10px;
  margin-bottom:10px;
}

h2{
    font-family: 'Oswald';
    color: #FFFFFF;
}

h3{
    font-family: 'Oswald';
    color: #FFFFFF;
}

h4{
  font-family: 'Oswald';
  color: #FFFFFF;
  font-size: 50px;
  text-align:center;
  animation-name: fade;
  animation-duration: 3s;
}

/* this is the animation for the home page */
@keyframes fade{
  0% {color: #000000;}
  20% {color: #221f1b;}
  40% {color: #736f72;}
  60% {color: #a3a3a3;}
  80% {color: #e5e5e5;}
  100% {color: #ffffff;}
}

p{
    font-family: 'Oswald';
    color: #FFFFFF;
}

a{
  font-family: 'Oswald';
  color: #FFFFFF;
  text-decoration: none;
}

#hero{
  margin-bottom: -100px;
}

#pages{
  display:flex;
  width:auto;
  justify-content: right;
  margin-top: 0px;
}

.pagelinks{
  margin-top: 0px;
  padding-top: 0px;
  padding-right:50px;
  padding-right:50px;
}

footer{
  display:flex;
  width:auto;
  justify-content: flex-end;
  margin-top:0px;
  bottom:0;
}

.footerlinks{
  margin-top:0px;
  padding-right:50px;
  padding-left:5px;
}

#content{
  margin-bottom:10px;
}

/* styling for the code page specifically */
.codecontent{
  display:flex;
  flex-direction:column;
  margin:0px;
}

.codecontent img{
  height:20vh;
  width:20vw;
}

img:hover{
  border: 1px;
  border-color: #ffffff;
}

.coderow1{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin: 5px;
}

.coderow2{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin: 5px;
}

.codecolumns{
  margin-left:30px;
  margin-right:30px;
}

/* styling for the about paage */
.about{
  display:flex;
  flex-direction:row;
  padding-top:20px;
}

.aboutcontent{
  display:flex;
  justify-content:center;
  align-items:center;
}

.aboutcontent img{
  height:92%;
  width:60%;
  margin-right:-10%;
}

.aboutcontent p{
  padding-left:0px;
  margin-right:50px;
}


/* styling for the photography page */
.photorows{
  display:flex;
  flex-direction:row;
  justify-content:center;
  height: 300px;
}

.portraits{
  display:flex;
  flex-direction:row;
  padding: 15px;
}

.landscapes{
  display:flex;
  flex-direction:row;
  padding: 15px;
}
