body{
  background-color: #ccc5b9;
}

h1{
  color: #403d39;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 50px;
}

#buttons{
  display:flex;
  width: auto;
}

.weekdays{
  flex-grow: 1;
  width: auto;
}

button{
  background-color: #eb5e28;
  color: #fffcf2;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 20px;
  padding: 6px 35px 6px 35px;
  border-radius: 4px;
  border-color: #eb5e28;
  width: 175px;
}

ul{
  color: #403d39;
  font-family: "Oswald";
  font-weight: bold;
  font-size: 25px;
  margin: 2px;
}

#options{
  display:flex;
  width: auto;
  margin-left: 200px;
  padding-top: 30px;
  padding-left: 30px;
}

img{
  width: 175px;
  height: 150px;
  margin: 10px;
  padding: 10px;
}

.icons{
  display:flex;
  flex-grow:;
  width:400;
}
